@media (max-width: 500px){
    *{
        padding: 0;
        margin: 0;
    }
    html{

    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .header{
        height: 10dvh;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .item1{
        height: 90dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about, .certs, .projects{
        height: 25dvh;
        background-color: rgba(160, 157, 157, 0.062);
        width: 50dvw;
        margin: 2.5dvh 2.5dvw;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .item2{
        height:80dvh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        height: 70dvh;
        border-radius: 10px;
    }
    .footer{
        height: 20dvh;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a{
        text-decoration: none;
        color: black;
    }
}